.childPage {
  background-color: beige;
  display: flex;
  flex-direction: column;
}
.childPage .test_clip {
  width: 100px;
  height: 100px;
  background-color: pink;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  /* background-clip: border-box; */
  /* background-clip: padding-box; */
  background-clip: content-box;
}
.childPage .test_hover {
  height: 50px;
  background-color: blanchedalmond;
  text-align: center;
  /* 悬停效果 */
  position: sticky;
  top: 0;
}
.childPage div {
  height: 500px;
}
